
.outerborder{
    margin: auto;
    border: 1px solid #d86969;
    padding:50px 50px 50px 50px ;
    
    width:400px;
    

    
    text-align: left;
    background-color:bisque;
    color:black;
    display:inline-block;
  }